@model Models.User
@{
    ViewData["Title"] = "Registre-se";
}

<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
</head>

<body>

    <div class="container d-flex align-items-center">

        <div class="card-registration-wrapper row w-100">

            <div class="col-md-6 p-0 img-column">

                <img src="~/assets/Sofa.jpeg" alt="Imagem decorativa" class="img-fluid h-100 align-items-center">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="form-column-content w-100 px-4">

                    <div class="text-center mb-4">
                        <img src="~/assets/LogoSite.jpeg" alt="" id="logo" class="img-fluid"
                        style="max-width: 200px;">
                    </div>
                    <div class="form-container">
                        <h2>Crie sua Conta</h2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form id="registrationForm" asp-controller="Auth" asp-action="Register" method="post">
                            <div class="form-group">
                                <label asp-for="Username">Nome de Usuário</label>
                                <input asp-for="Username" class="form-control" placeholder="Digite seu nome de usuário" required>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">E-mail</label>
                                <input asp-for="Email" class="form-control" placeholder="seuemail@exemplo.com" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Senha</label>
                                <input asp-for="Password" class="form-control" placeholder="Digite sua senha" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Document">CPF</label>
                                <input asp-for="Document" class="form-control" placeholder="000.000.000-00" required>
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn-submit">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}