@model Models.LoginFormModel
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
</head>


<body>
    <div class="container d-flex align-items-center justify-content-center ">
        <div class="card-registration-wrapper row w-100">

            <div class="col-md-6 p-0 img-column">
                <img src="~/assets/Sofa.jpeg" alt="Imagem decorativa" class="img-fluid h-100">
            </div>

            <div class="col-md-6 d-flex align-items-center">
                <div class="form-column-content w-100 px-4">

                    <div class="text-center mb-4">
                        <img src="~/assets/LogoSite.jpeg" alt="Logo" id="logo" class="img-fluid"
                            style="max-width: 200px;">
                    </div>

                    <div class="form-container">
                        <h2>Acessar Conta</h2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form id="loginForm" asp-controller="Auth" asp-action="LoginModel" method="post">
                            <div class="form-group">
                                <label asp-for="Email">E-mail</label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="seu.email@exemplo.com" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Senha</label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Digite sua senha" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn-submit">Entrar</button>

                            <div class="form-links mt-3">
                                <a asp-controller="Auth" asp-action="Register">Criar uma conta</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}